<html>
	<head>
	<h1 align="center">
	WELCOME TO SPRING MVC
</h1>
<style>
	body
	   {
	   background-color: lightgoldenrodyellow;
	   }
	   button
	   {
		   background-color: navajowhite;
	   }
	   h1
	   {
		   background-color: grey;
	   }
</style>
</head>
<body>
	<p>click on below for the working page</p>
	<form action="/working">
     <button>working</button>		
	</form>
	<br></br>
	<p>Below pages are accessible based on the access level</p>
	<form action="/user">
     <button>user</button>		
	</form>
	<form action="/extendedUser">
     <button>specialuser</button>		
	</form>
	<form action="/admin">
     <button>admin</button>		
	</form>
	<form action="/testFreemarker">
		<button>marker</button>
	</form>
	<p>click on below to logout </p>
	<form action="/logout">
	<button>logout</button>
	</form>
</body>

	
</html>